<% layout('../layout/boilerplate') -%>
    <div class="contact-form">
        <h1 class="contact-head">Edu-Space</h1>
        <form name="submit-to-google-sheet">
            <input id="author-name" type="text" name="author-name" placeholder="Course Name" required>
            <input id="course-name" type="text" name="course-name" placeholder="Author Name" required>
            <input id="select-cover-img" type="file" name="cover-img" placeholder="video file " required>
            <input id="select-video" type="file" name="video" placeholder="image file " required>
            <textarea id="message" name="Message" rows="5" placeholder="Description about course (In detail)" required></textarea>
            <button id="submit" type="submit">Post Details</button>
        </form>
</div>