*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    list-style-type: none;
    text-decoration: none;
    /* color: white; */
}

a {
    color: white;
}

.nav-container {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: indigo;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
}

.logo i {
    margin-left: 10px;
}

.post-course,
.login-btn {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%)
}

.post-course,
.login-btn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-course,
.login-btn:hover {
    background-position: right center;
    text-decoration: none;
}

.hero-container {
    background-color: rgba(233, 229, 229, 0.504);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    margin-bottom: 1rem;
}

.course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 350px;
    transition: transform 0.3s ease-in-out
}

.course-container:hover {
    transform: scale(1.1);
}

/* .course-container:nth-child(1) {
    margin-top: 80px;
}

.course-container:nth-child(2) {
    margin-top: 80px;
}

.course-container:nth-child(3) {
    margin-top: 80px;
}

.course-container:nth-child(4) {
    margin-top: 80px;
} */

.img {
    width: 100%;
    height: 300px;
    background-position: center;
    border-radius: 8px;
    object-fit: fill;
}

.course-title {
    margin-top: 1rem;
    color: #000;
}


.enroll-btn {
    width: 100%;
    margin-top: 1rem;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: indigo;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.enroll-btn:hover {
    background-color: rgb(122, 6, 204);
}

.footer {
    background-color: indigo;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul li a {
    font-size: 14px;
    line-height: 1.8;
    color: #ddd;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.social-media a i {
    font-size: 1rem;
    margin-right: 1px;
    transition: transform 0.3s ease;
}

.social-media a i:hover {
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    padding: 15px 0;
    background-color: rgb(133, 6, 223);
    font-size: 14px;
    margin-top: 20px;
}



@media (max-width: 767.98px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-media a img {
        margin-bottom: 10px;
    }

    .logo {
        font-size: 0.8rem;
    }

    .post-course,
    .login-btn {
        font-size: 0.8rem;
        margin: 5px;
        padding: 5px 10px;
    }

    .nav-container {
        padding: 10px;
    }

    .post-course a,
    .login-btn a {
        font-size: 0.6rem;
    }

    .course-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        max-width: 100%;

    }

    .img {
        height: 50px;
        width: 50px;

    }

    .course-title {
        font-size: 0.8rem;
        margin-left: 1rem;
        
    }

    .enroll-btn {
        margin-left: 1rem;
        width: 100px;
        padding: 10px 10px;
    }

    .course-container:nth-child(2) {
        margin-top: 0;
    }

    .course-container:nth-child(3) {
        margin-top: 0;
    }

    .course-container:nth-child(4) {
        margin-top: 0;
    }
}

.loader-container {
    /* position: fixed; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assests/img/music_loader.gif);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    /* z-index: 1000; */
}