<!-- <div class="loader-container"></div> -->
  <nav>
    <ul class="nav-container">
      <h1 class="logo" onclick="window.location.href='/home'">Edu-Space<i class="fa-solid fa-graduation-cap"></i></h1>
      <div class="login-container">
        <button title="teach" type="button" class="post-course" onclick="window.location.href='/enroll'">TEACH ON EDU-SPACE</button>
      <button title="login" type="button" class="login-btn" onclick="window.location.href='/login'">LOGIN</button>
      </div>
    </ul>
</nav>